<script lang="ts" setup>
// Create a custom attribute for <Button> that has the name "design" and default "white"
const props = defineProps({
  design: {
    default: 'white'
  }
})

// Store the actual CSS class
const css = ref('bg-white text-black') // Default: white

// We check if the custom attribute is black
if (props.design === 'black') {
  css.value = 'bg-black text-white'
}
</script>

<template>
  <button :class="`border rounded-xl transition-all bg text-lg font-bold px-3 py-1 hover:invert ${css}`">
    <slot/>
  </button>
</template>

<style scoped>
/** Any <button> */
button {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
}

/** Only target <button> that contains the class `bg-black` */
button[class~="bg-black"]:hover {
  box-shadow: 0 0 2px 2px rgba(80, 76, 76, 0.5);
}
</style>