<script lang="ts" setup>
const menuOne = [
  {
    name: 'About us',
    link: '/about-us'
  },
  {
    name: 'Service',
    link: '/about-us'
  },
  {
    name: 'Blog',
    link: '/about-us'
  },
  {
    name: 'FAQ',
    link: '/about-us'
  }
]
const menuTwo = [
  {
    name: 'E-mail',
    link: '/about-us'
  },
  {
    name: 'Address',
    link: '/about-us'
  },
  {
    name: 'Number',
    link: '/about-us'
  },
  {
    name: 'Partners',
    link: '/about-us'
  }
]
</script>

<template>
  <footer class="py-24">
    <h3 class="text-4xl font-bold mb-12">
      About Us
    </h3>
    <div class="flex gap-x-6">
      <div class="w-8/12">
        <h4 class="text-2xl font-medium mb-4">
          Pet Store
        </h4>
        <p class="mb-6">
          We provide best quality services to all our animals, each pet is diagnosed and cleaned on daily basis.
        </p>
        <div class="flex items-center gap-x-4">
          <NuxtLink to="https://facebook.com" target="_blank">
            <div class="social-icon">
              <Icon name="typcn:social-facebook"/>
            </div>
          </NuxtLink>
          <NuxtLink to="https://twitter.com" target="_blank">
            <div class="social-icon">
              <Icon name="typcn:social-twitter"/>
            </div>
          </NuxtLink>
          <NuxtLink to="https://youtube.com" target="_blank">
            <div class="social-icon">
              <Icon name="carbon:logo-youtube" size="20"/>
            </div>
          </NuxtLink>
        </div>
      </div>
      <div class="w-1/3">
        <h4 class="font-bold mb-6">Company</h4>
        <menu>
          <li v-for="item in menuOne" :key="item.name" class="mb-2">
            <NuxtLink :to="item.link">
              {{ item.name }}
            </NuxtLink>
          </li>
        </menu>
      </div>
      <div class="w-1/3">
        <h4 class="font-bold mb-6">Contact</h4>
        <menu>
          <li v-for="item in menuTwo" :key="item.name" class="mb-2">
            <NuxtLink :to="item.link">
              {{ item.name }}
            </NuxtLink>
          </li>
        </menu>
      </div>
    </div>
  </footer>
</template>

<style lang="postcss" scoped>
footer {
  .social-icon {
    @apply flex items-center justify-center rounded-full h-8 w-8 border-2 border-neutral-300 text-2xl;
  }

  menu {
    a {
      @apply hover:underline;
    }
  }
}
</style>