<script lang="ts" setup>
const statusCode      = ref()
const returnedMessage = ref()
const loading         = ref(false)
const hideResponse    = ref(false)

/**
 * Submits form data to the backend
 * and returns a response whether or not
 * it worked out.
 */
const submitForm = async () => {
  loading.value = true

  const form = document.getElementById('form') as HTMLFormElement
  const body = {
    first_name:    form.first_name.value,
    last_name:     form.last_name.value,
    email_address: form.email_address.value,
    phone_number:  form.phone_number.value
  }

  // Send form data to the backend and get the returned response in `data`
  const { data } = await useFetch('/api/submit', {
    method: 'post',
    body:   body
  })

  // Change the values according to what the backend gave us
  statusCode.value      = data.value?.status
  returnedMessage.value = data.value?.message
  loading.value         = false

  // Reset the form fields if it was successful
  if (data.value?.status === '200') {
    form.reset()
  }

  // Start the timer to hide the alerts
  setTimeout(() => {
    hideResponse.value = true
  }, 3000)
}
</script>

<template>
  <section>
    <h2 class="text-4xl font-bold mb-8">
      Any Complains
      <Icon name="line-md:clipboard-to-clipboard-check-transition" size="42" class="-rotate-12 ms-3"/>
    </h2>
    <form id="form" method="post" @submit.prevent="submitForm">
      <div class="flex justify-between gap-12 mb-6">
        <div class="w-full">
          <label for="first-name">
            First Name
          </label>
          <input type="text" name="first_name" id="first-name" placeholder="Enter First Name..." required>
        </div>
        <div class="w-full">
          <label for="last-name">
            Last Name
          </label>
          <input type="text" name="last_name" id="last-name" placeholder="Enter Last Name..." required>
        </div>
      </div>
      <div class="mb-12">
        <div class="w-full mb-6">
          <label for="email-address">
            E-Mail
          </label>
          <input type="email"
                 name="email_address"
                 id="email-address"
                 placeholder="Enter your E-mail Address..."
                 required>
        </div>
        <div class="w-full">
          <label for="phone-number">
            Phone Number
            <span class="font-normal text-neutral-400">(optional)</span>
          </label>
          <input type="number" name="phone_number" id="phone-number" placeholder="Enter your Phone Number...">
        </div>
      </div>
      <div class="text-center">
        <Button type="submit" design="black" class="px-7 text-xl">
          Submit Your Complain
          <Icon name="material-symbols:forward-to-inbox-rounded" class="ms-2 transition delay-1000" size="30"/>
        </Button>
        <Icon v-if="loading" name="svg-spinners:blocks-shuffle-3" class="ms-6" size="35"/>
      </div>
      <div v-if="hideResponse === false">
        <section v-if="statusCode === '200' || statusCode === '500'" id="response" class="mt-6 max-w-3xl mx-auto">
          <div v-if="statusCode === '200'" class="alert success">
            <p>
              Your form has been uploaded successfully!
            </p>
          </div>
          <div v-else-if="statusCode === '500'" class="alert error">
            <p>
              There's something gone wrong with the form!
            </p>
          </div>
        </section>
      </div>
    </form>
  </section>
</template>

<style lang="postcss" scoped>
#response {
  @apply transition-all;

  .alert {
    @apply p-4 text-white border-l-8;

    p {
      @apply font-bold;
    }
  }

  .alert.success {
    @apply border-green-700 bg-green-500;
  }

  .alert.error {
    @apply border-red-700 bg-red-500;
  }
}

form {
  label {
    @apply font-bold mb-1 block;
  }

  input {
    @apply w-full rounded py-3 px-2 border-2 border-b-neutral-200;
  }
}
</style>