<script lang="ts" setup>

</script>

<template>
  <header class="h-96 bg-cover">
    <div class="flex flex-col h-full items-center justify-center max-w-2xl text-center mx-auto">
      <h1 class="text-4xl font-bold mb-8">
        This is our Pet Paradise, feel free to explore
      </h1>
      <Button>
        This is white
      </Button>
    </div>
  </header>
</template>

<style scoped>
header {
  background-image: url("/img/header-banner.webp");
  -ms-background-position-y: center;
  background-position-y: center;
}
</style>