<script lang="ts" setup>
const menuItems = [
  {
    title: 'Home',
    url:   '/'
  },
  {
    title: 'Pet-Section',
    url:   '/pet-section'
  },
  {
    title: 'Reviews',
    url:   '/reviews'
  }
]
</script>

<template>
  <nav class="bg-neutral-700 text-white px-6">
    <div class="flex items-center">
      <div class="w-1/3">
        <h1 class="font-bold text-left text-2xl">
          Pet Paradise
        </h1>
      </div>
      <div class="w-full">
        <div class="flex items-center gap-x-36">
          <NuxtLink :to="menuItem.url"
                    v-for="menuItem in menuItems"
                    :key="menuItem.title"
                    class="hover:bg-yellow-300 transition duration-200 hover:text-black py-3 px-6">
            {{ menuItem.title }}
          </NuxtLink>
        </div>
      </div>
    </div>
  </nav>
</template>

<style lang="postcss" scoped>
.router-link-active {
  @apply bg-yellow-700;
}
</style>