<script lang="ts" setup>

</script>

<template>
  <section class="flex items-center justify-between my-7">
    <div class="w-6/12">
      <NuxtImg src="/img/dog.webp" format="webp" class="max-h-72"/>
    </div>
    <div class="w-full text-center">
      <h2 class="text-3xl font-bold mb-4">
        Our service is for Dogs and Cats
      </h2>
      <p class="text-lg mb-5">
        We always try our best to provide the best services to our customers. Join our community group to get ample
        time to learn about all our services and how satisfied customers are.
      </p>
      <NuxtLink href="/contact">
        <Button design="black">
          Join Community
        </Button>
      </NuxtLink>
    </div>
    <div class="w-6/12">
      <NuxtImg src="/img/cat.webp" format="webp"/>
    </div>
  </section>
</template>

<style scoped>

</style>