<script lang="ts" setup>
const services = [
  {
    title: 'Pets of clean breed',
    image: 'box-1.jpg'
  },
  {
    title: 'Health Services',
    image: 'box-2.jpg'
  },
  {
    title: 'Membership Discount',
    image: 'box-3.png'
  }
]
</script>

<template>
  <section class="text-center mb-20">
    <h2 class="mb-8 text-4xl font-bold text-orange-400">
      Services
    </h2>
    <div class="flex justify-evenly gap-x-12">
      <div v-for="service in services" class="w-full">
        <h3 class="text-xl font-bold mb-4">
          {{ service.title }}
        </h3>
        <div class="flex items-center justify-center">
          <NuxtImg :src="`/img/${service.image}`" :alt="service.title" :title="service.title" format="webp"/>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped>

</style>