<script lang="ts" setup>

import Navbar from '~/components/Navbar.vue'
</script>

<template>
  <NuxtLayout>
    <Navbar />
    <Header/>
    <main>
      <OurServices/>
      <Services/>
      <Form/>
    </main>
    <Footer/>
  </NuxtLayout>
</template>

<style lang="postcss" scoped>

</style>