<script lang="ts" setup>

</script>

<template>
  <NuxtLayout>
    <Navbar/>
    <main class="py-6">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime pariatur ullam voluptatum. Aliquam ipsa molestiae
      necessitatibus odio veritatis. Atque cum expedita, natus possimus soluta velit voluptas! Asperiores culpa
      laudantium sunt.
    </main>
    <Footer/>
  </NuxtLayout>
</template>

<style scoped>

</style>